body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#page-content {
  padding: 20px;
}

.explore {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.show-more {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.show-more:hover {
  background-color: #333;
}

.box {
  color: black;
  padding: 20px;
  position: relative;
}

.inspiration-title {
  margin: 0;
  padding: 10px;
  text-align: left;
}

.button-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.button-container::-webkit-scrollbar {
  height: 8px;
}

.button-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

.custom-button {
  background: none;
  border: none;
  color: #000;
  font-size: 16px;
  padding: 10px 20px;
  position: relative;
  cursor: pointer;
  outline: none;
  margin-right: 10px;
  flex: 0 0 auto;
}

.custom-button::before {
  content: '◄';
  position: absolute;
  left: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-button::after {
  content: '►';
  position: absolute;
  right: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}

.custom-button:hover {
  text-decoration: underline;
}

.custom-button:hover::before,
.custom-button:hover::after {
  opacity: 1;
}

.dropdown-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 200px;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: #000;
  display: block;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1;
}

.flex-container {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: space-between;
}

.flex-box {
  flex: 0 0 30%;
  margin-bottom: 20px; /* Add some spacing between flex items */
}

.section-heading {
  font-weight: bold;
}

.flex-box a {
  text-decoration: none;
  color: #000;
  display: block;
  margin-bottom: 5px;
}

.flex-box a:hover {
  text-decoration: underline;
}

/* Media queries for responsiveness */

@media only screen and (max-width: 768px) {
  .flex-box {
      flex: 0 0 45%; /* Adjust flex-basis for smaller screens */
  }
}

@media only screen and (max-width: 480px) {
  .flex-box {
      flex: 0 0 100%; /* Make flex items take full width on smaller screens */
  }
}